.sidebar {
  @apply flex;
  height: 4rem;
  min-height: 4rem;
}

.sidebar .sidebar-inner {
  background: linear-gradient(45deg, #40d2ba, #a1e240);
  @apply flex h-0 min-h-full flex-1 flex-row border-b border-gray-200 bg-white dark:border-gray-stroke dark:bg-elevation-1;
}
.sidebar .sidebar-inner:is(.dark *) {
  background: linear-gradient(45deg, #d24f40, #e2bc40);
}

.sidebar .sidebar-inner .upper {
  @apply flex flex-1 flex-col overflow-y-auto pb-4 pt-3 pl-4 overflow-y-hidden;
}

.sidebar .sidebar-inner .upper nav {
  /* max-width: 14rem; */
  /* @apply space-y-5; */
  @apply w-full flex flex-row justify-start items-center;
}

.sidebar .sidebar-inner .upper nav > * {
  @apply px-3;
}

.sidebar .network-selection {
  @apply space-y-2;
}

.sidebar .connect-account {
  @apply mt-2 w-full justify-center text-center font-semibold;
}

.sidebar .navigation {
  @apply flex flex-row justify-between min-w-20;
}

.sidebar .quick-links {
  @apply space-y-2;
}

.sidebar .section {
  @apply flex flex-row items-center;
}

.sidebar .section .header {
  @apply py-1 text-xs font-medium text-gray-600 dark:text-white;
}

.sidebar .section .none-yet {
  @apply pl-2 text-xs text-gray-400 dark:text-white;
}

.sidebar .footer {
  @apply flex flex-shrink-0 p-6;
}

.sidebar .footer > div {
  @apply flex w-full flex-shrink-0 justify-between;
}

.mobilemenu {
  @apply dark:bg-elevation-1;
}
